.box1 {
  border: red solid 2px;
  width: 650px;
  height: 200px;
}

.box2 {
  border: brown solid 2px;
  width: 650px;
  height: 200px;
}


.get-btn {
  background-color: black;
  color: #fff;
  width: 400px;
  height: 40px;
  margin-left: 120px;
  border: none;
  border-radius: 5px;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}


.get-btn:hover {
  background-color: red;
  color: #000;
  width: 420px;
  height: 40px;
}


.update-btn {
  background-color: black;
  color: #fff;
  width: 400px;
  height: 40px;
  margin-left: 120px;
  border: none;
  border-radius: 5px;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}


.update-btn:hover {
  background-color: brown;
  color: white;
  width: 440px;
  height: 40px;
}


.instance-btn {
  background-color: black;
  color: #fff;
  width: 400px;
  height: 40px;
  margin-left: 120px;
  border: none;
  border-radius: 5px;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.instance-btn:hover {
  background-color: azure;
  color: red;
  width: 460px;
  height: 40px;
}


.post-btn {
  background-color: black;
  color: #fff;
  width: 400px;
  height: 40px;
  margin-left: 120px;
  border: none;
  border-radius: 5px;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-btn:hover {
  background-color: rgb(73, 68, 68);
  color: red;
  width: 300px;
  height: 40px;
}


.delete-btn {
  background-color: black;
  color: #fff;
  width: 400px;
  height: 40px;
  margin-left: 120px;
  border: none;
  border-radius: 5px;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}


.delete-btn:hover {
  background-color: rgb(68, 88, 60);
  color: rgb(207, 7, 7);
  width: 310px;
  height: 40px;
}


.multiple-btn {
  background-color: black;
  color: #fff;
  width: 400px;
  height: 40px;
  margin-left: 120px;
  border: none;
  border-radius: 5px;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}


.multiple-btn:hover {
  background-color: brown;
  color: white;
  width: 320px;
  height: 40px;
}
